

<section class="container">
            <div class="col-sm-8 col-md-9">
                <div class="movie">

                    <div class="movie__info">
                        <div class="col-sm-6 col-md-6 movie-mobile">
                            <div class="movie__images">
                                <%= image_tag @movie.image.url(:medium)%>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-6">

                            <p class="movie__option"><strong>Title: </strong><%= @movie.title %></p>
                            <p class="movie__option"><strong>Description: </strong><%= @movie.description %></p>
                            <p class="movie__option"><strong>Movie length: </strong><%= @movie.movie_length %></p>
                            <p class="movie__option"><strong>Director: </strong><%= @movie.director %></p>
                            <p class="movie__option"><strong>Rating: </strong><%= @movie.rating %></p>

                        </div>
                        <%= link_to 'Edit', edit_movie_path(@movie) %> |
                        <%= link_to 'Back', movies_path %>
                    </div>
                </div>
            </div>

</section>